<!DOCTYPE html>
<html>

<head>
  <title>회원가입</title>
</head>

<body>
  <h1>회원가입</h1>
  <form action="/auth/register" method="post">
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="username">사용자 이름:</label>
    <input type="text" id="username" name="username" required>
    <br>

    <button type="submit">회원가입</button>
  </form>
  <p>구글로 회원가입 하시겠어요?</p>
  <h5>구글 회원정보를 입력하시면 회원가입완료됩니다.</h5>
  <a href="/auth/to-google">Google로 회원가입</a>

  <script>
    document.querySelector('form').addEventListener('submit', async (e) => {
      e.preventDefault();
      const email = document.querySelector('#email').value;
      const password = document.querySelector('#password').value;
      const username = document.querySelector('#username').value;

      const response = await fetch('/auth/register', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, password, username }),
      });

      if (response.ok) {
        const result = await response.json();
        alert(result.message);
        if (result.status ==='success') {
        location.href = '/'; // 홈 화면으로 리다이렉트
        }
        else {
          location.href = '/auth/register';
        }
      } else {
        const error = await response.json();
        alert(error.message);
      }
    });
  </script>
</body>

</html>